@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --bg-primary-color: #55BC04;
    --bg-secondary-color: white;
    --bg-tertiary-color: #C2C2C2;

    --font-primary-color: white;
    --font-secondary-color: #6F6F6F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-tertiary-color);
}